* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

head h1 {
    margin: 1 100px;
    font-size: 32px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

.sidebar {
    position: fixed;
    height: 70px;
    width: 300px;
    left: -300px;
    background: #ebdc0a;
    transition: all .6s;
}

.sidebar header {
    background: #063146;
    padding: 17.5px 17.5px;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

.sidebar ul {
    line-height: 65px;
    font-size: 20px;
}

.sidebar ul li:hover a {
    padding-left: 30px;
    color: #fff;
}

.sidebar ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

.sidebar ul li:hover {
    background: #063044;
}

.sidebar ul li a {
    color: rgb(214, 209, 209);
    margin-left: 20px;
    transition: all .6s ease;
}

.sidebar ul li a li {
    margin-right: 7px;
}

imput {
    display: none;
}

label #menu,
label #close {
    font-size: 20px;
    position: fixed;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}

label #menu {
    margin: 30px 30px;
    padding: 10px 15px 10px 15px;
    background: rgb(7, 7, 7);
    border: 1px solid white;
    color: white;
    transition: all 1s ease;
}

label #close {
    border: 5px solid rgb(163, 90, 90);
    content: 'X';
    color: rgb(163, 94, 94);
    top: 26px;
    left: -230px;
    z-index: 1111;
    transition: all .6s;
}

#check:checked~.sidebar {
    left: 0px;
}

#check:checked~label #close {
    left: 230px;
}

#check:checked~section {
    margin-left: 300px;
}

section {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhdqwalls.com%2Fdownload%2F1%2Frimac-c-two-california-edition-2018-4k-e1.jpg&f=1&nofb=1) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: all .6s;
}

button {
    position: realetive;
    cursor: pointer;
    margin: 1 400px;
    padding: 1px;
    width: 630px;
    height: 50px;
    font-size: 32;
    font-weight: 600;
    background: rgb(10, 129, 226);
    letter-spacing: 2px;
    border-radius: 30%;
    outline: none;
    overflow: hidden;
}

button:first-child:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

button:first-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity .5s;
}

button:hover:first-child:before {
    opacity: 1;
    z-index: -1;
}

button:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}